#claves.py
claves.py
c*.py
c*.json
#Archivos en la raíz(root)
a*.py
b*.py
d*.py
goo*.py
*ultima.py
*tesseract.py
o*.py
p*.py
v*.py
*.dll
*.whl
resultado*.py
###imagenes
*.jpg
*.png
###Carpetas
backup-local/
openai-env/
dinamic/
config/

scripts/py/claves.py
scripts/py/a*.py
scripts/py/b*.py
scripts/py/d*.py
scripts/py/i*.py
scripts/py/r*.py
scripts/py/s*.py
scripts/py/t*.py
scripts/py/*.csv

rtf_ocr_claves.json


#Scripts en BACKUP-JS
static/BACKUP-JS
#scripts en statis/js
static/js/*copia*.js
static/js/*-7-oct*.js

#pycache
__pycache__/
#claves.py  
claves_dataextractor.py