<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
		<!--<link rel="stylesheet" href="../css/asmr_style.css">-->
		
		<link rel="icon" type="image/png" sizes="16x16" href="../img/icons8-queen-bee-16.png">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<title>DNIExtractor - Demo</title>
	</head>
</head>
<body>

	<h1 class="h1-diseno2">Registro de Matricula</h1>
	<h3 class="h3-diseno2">Tablet</h3>

</body>
</html>