<div id="authModalContainer" class="modalLogin" style="display: block;">
    <div class="modal-contentLogin">
      <button id="closeAuthModal" class="close-btn">Cerrar</button>
      <div class="modal-headerLogin">
        <img src="/static/img/icons8-queen-bee-50.png" alt="Logo" class="logo">
        <h2>DATA EXTRACTOR</h2>
      </div>
      <div class="modal-bodyLogin">
        <p class="demo-intro">Confirme, gestione y localice bienes vía email. Ingrese correos para probar gratuitamente:</p>
        <form id="authForm">
          <div class="input-group">
            <label for="userEmail">Su email:</label>
            <input type="email" id="userEmail" name="userEmail" placeholder="su@email.com">
          </div>
          <div class="input-group">
            <label for="colleagueEmail1">Email de un colega:</label>
            <input type="email" id="colleagueEmail1" name="colleagueEmail1" placeholder="colega1@email.com">
          </div>
          <div class="input-group">
            <label for="colleagueEmail2">Email de otro colega:</label>
            <input type="email" id="colleagueEmail2" name="colleagueEmail2" placeholder="colega2@email.com">
          </div>
          <button type="submit" class="submit-btn">Continuar</button>
        </form>
      </div>
      <div class="modal-footerLogin">
        <p>Data Extractor © 2024 | Demo Version</p>
      </div>
    </div>
  </div>