<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Blog</title>
<link rel="stylesheet" href="{{url_for( 'static', path='blog.css')}}">
</head>
<body>

<header>
  <div class="container">
    <div class="logo">
        <a href='/'><img width="45" height="45" src="{{url_for('static', path='dniextract/img/icons8-queen-bee-50.png')}}"></a>
    </div>
    
    <div class="blog-title">
      <h1>Blog para Funcionarios/Gerentes</h1>
      <p>Gana eficiencia en tu gestión con la Inteligencia Artificial</p>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100" height="100">
      <text x="10" y="60" font-family="Arial" font-size="48" fill="#000">D</text>
      <text x="40" y="60" font-family="Arial" font-size="48" fill="#000">E</text>
      <text x="70" y="60" font-family="Arial" font-size="48" fill="#000">X</text>
    </svg>
    

  </div>
</header>

<main>
  <div class="container">
    <article class="blog-post">
      <div class="image">
        <img src="imagen1.jpg" alt="Imagen del artículo">
      </div>
      <div class="content">
        <h3>5 Razones para que tu institución o empresa realice Inventario Patrimonial de Bienes!</h3>
        <p class="description">Abordaremos los beneficios y en un posterior artículo comentaremos los efectos negativos de tal incumplimiento o deficiencia.</p>
        <p>Sin duda el primer beneficio es la mejora en la gestión de activos, seguido pors aspectos contables y financieros, pero ...</p>
        <p class="metadata">Fecha: 05 de mayo de 2024 | Autor: DataExtractor</p>
        <a href="#" class="read-more">Leer más ...</a>
      </div>
    </article>

    <article class="blog-post">
      <div class="image">
        <img src="imagen2.jpg" alt="Imagen del artículo">
      </div>
      <div class="content">
        <h3>Cómo el incumplimiento del inventario físico puede afectar a tu institución/empresa</h3>
        <p class="description">Explora en este artículo los efectos negativos que puede tener el no realizar el inventario físico, incluyendo problemas contables, financieros, administrativos y legales, así como posibles sanciones por parte de autoridades regulatorias, tanto para empresas privadas u organizaciones públicas.
        </p>
        <p class="metadata">Fecha: 10 de mayo de 2024 | Autor: María Gómez</p>
        <a href="#" class="read-more">Leer más ...</a>
      </div>
    </article>

    <article class="blog-post">
      <div class="image">
        <img src="imagen3.jpg" alt="Imagen del artículo">
      </div>
      <div class="content">
        <h3>Las mejores herramientas para el Proceso de Inventario Físico de Bienes</h3>
        <p class="description">No solo se trata de herramientas (dispositivos o aparatos), también son importantes y, en nuestra opinión más importante aún, el software de procesamiento.<br> DataExtractor apuesta por la Inteligencia Artificial porque además reduce costos en personal, pero sobretodo, minimiza errores y reduce tiempos drásticamente.<br>Nuestro software, basado en Inteligencia Artificial, está complementado con un sistema de automatización en tiempo real en la nube, por lo que inventariar un bien no solo es etiquetado, validado, registrado y compartido solo lleva segundos.<br><br>La información podrá ser accesada de forma remota, desde cualquier lugar, a instantes de haber sido registrada y, además, se actualizan los reportes, cuadros, indicadores y demás estadísticas del proceso de inventario.
        </p>
        <p class="metadata">Fecha: 10 de mayo de 2024 | Autor: María Gómez</p>
        <a href="#" class="read-more">Leer más ...</a>
      </div>
    </article>

  </div>
</main>

<footer>
  <div class="container">
    <p>Derechos de autor © 2024 Blog de Ejemplo. Todos los derechos reservados.</p>
  </div>
</footer>

</body>
</html>
