<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal de Selección</title>
    <link rel="stylesheet" href="tu-estilo.css">
    </head>
<body>

    <div id="aceptar-descartar" class="oculto">
        <button id="aceptar" onclick="transferData()">Aceptar</button>
        <button id="descartar" onclick="resetSelection()">Descartar</button>
    </div>

<input type="text" id="busca_usuario">

<div id="lista-usuarios">
    <ul class="lista-empleados">
        {% for user in users %}
        <li class="empleado" id="empleado-{{ user[1] }}">
            <div class="datos-empleado">
                <div class="datos-usuario">
                    <span class="nombres">{{ user[1] }}</span>
                    <span class="nombres">{{ user[2] }}</span>
                </div>
                <div class="area-usuario">
                    <span class="sede">Sede: &nbsp;ABCDEF</span>
                    <p class="area">{{ user[5] }}</p>
                </div>
                
                <div class="datos-jefe">
                    <h4>Jefe Inmediato:</h4>
                    <div class="nombre-jefe">{{ user[7] }}</div>
                    <div class="area-jefe">{{ user[9] }}</div>
                </div>
                
            </div>
            <input type="hidden" id="codigo-{{ user[1] }}" value="{{ user[1] }}">
            <input type="hidden" id="nombres-{{ user[1] }}" value="{{ user[2] }}">
            <input type="hidden" id="gerencia-{{ user[1] }}" value="{{ user[5] }}">
            <input type="hidden" id="foto-{{ user[1] }}" value="/static/img/{{ user[1] +'.jpg' }}">

            <div class="foto-empleado">
                <img src="{{ url_for('static', path='img/' + user[1] + '.jpg') }}" width="100%">
                <button class="seleccionar" onclick="selectUser('{{ user[1] }}', '{{ user[1] }}')">
                    <i class='bx bx-check-double' >Seleccionar</i>
                </button>
            </div>
        </li>
        {% endfor %}
    </ul>  
</div>

<input type="hidden" id="codigo-seleccionado">
<input type="hidden" id="nombres-seleccionado">
<input type="hidden" id="gerencia-seleccionado">
<input type="hidden" id="foto-seleccionado">


<script>
    // Definición de las funciones
    function selectUser(userId, userName) {
        const codigoSeleccionado = document.getElementById(`codigo-${userId}`);
        const nombresSeleccionados = document.getElementById(`nombres-${userId}`);
        const gerenciaSeleccionada = document.getElementById(`gerencia-${userId}`);
        const fotoSeleccionada = document.getElementById(`foto-${userId}`);

        document.getElementById('codigo-seleccionado').value = codigoSeleccionado.value;
        document.getElementById('nombres-seleccionado').value = nombresSeleccionados.value;
        document.getElementById('gerencia-seleccionado').value = gerenciaSeleccionada.value;
        document.getElementById('foto-seleccionado').value = fotoSeleccionada.value;

        // Ocultar todas las tarjetas
            const empleados = document.querySelectorAll('#lista-usuarios .empleado');
            empleados.forEach(emp =>{
                console.log(emp.innerHTML); // Verifica si los elementos están siendo seleccionados
                //emp.classList.add('oculto') 
                emp.style.display = 'none';  // Forzar el ocultamiento del elemento
            });
        
        // Mostrar solo la tarjeta seleccionada
        //document.getElementById(`empleado-${userId}`).classList.remove('oculto');
        document.getElementById(`empleado-${userId}`).style.display='';

        // Mostrar botones ACEPTAR y DESCARTAR
        document.getElementById('aceptar-descartar').classList.remove('oculto');

        //alert(`Tarjeta seleccionada: ${userName}`);
    }

    function transferData() {
        // Obtener los datos seleccionados del modal
        const selectedPhoto = document.getElementById('foto-seleccionado').value;
        const selectedName = document.getElementById('nombres-seleccionado').value;
        const selectedArea = document.getElementById('gerencia-seleccionado').value;

        // Asignar los valores a los elementos correspondientes en la página principal
        document.getElementById('worker-photo').src = selectedPhoto;
        document.getElementById('worker-name').textContent = selectedName;
        document.getElementById('worker-area').textContent = selectedArea;

        closeModal();
    }

    function resetSelection() {
        // Resetea la selección de usuario y oculta los botones
        document.getElementById('aceptar-descartar').classList.add('oculto');
        const empleados = document.querySelectorAll('#lista-usuarios .empleado');
        empleados.forEach(emp => emp.style.display='');
    }


    // Función para cerrar el modal
    function closeModal() {
        const modal = document.getElementById('modal');
        modal.style.display = 'none'; // Ocultar el modal
    }
</script>

</body>
</html>
