@import url('https://fonts.googleapis.com/css2?family=Onest:wght@200&display=swap');
body{background: #262626;}
h1{color: white;font-size: 0.95em; text-align: center;text-transform:uppercase; font-family: Onest;}

#los-servicios{
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "dni fac com"
    "rec inv car"
    ;
    gap: 4px;
}
    #dni{grid-area: dni;}#dni{grid-area: fac;}#dni{grid-area: com;}
    #dni{grid-area: rec;}#dni{grid-area: inv;}#dni{grid-area: car;}
.los-servicios{
    border:1px solid rgba(255,255,255,0.311);
    padding:10px; border-radius: 4px;
}

.los-servicios a{font-family: Onest; font-size: 0.65em; text-decoration: none;}

.los-servicios h2{
    color:palegreen;
    letter-spacing: 1px;
    font-size: 0.95rem;
    text-align: center;
}

#form-servicio{
    width: 100%;
    height: 550px;
    margin-top: 5px;
    border:1px solid rgba(255,255,255,0.5);
    display: grid;
    /*place-content: center;*/
    justify-items: center;
}

#dni-h3{color:red;}
#rec-h3{color:white;}
#inv-h3{color:yellow;}
#fac-h3{color:greenyellow;}
#com-h3{color:green;}
#car-h3{color:orange;}

#tipo-demo{background: #161616;border:1px solid rgba(55,155,55,0.5); width: 0 auto; height: auto;
    margin-top: 2px;padding-left: 4px; padding-right: 4px;}

#inv-img-subida{
    font-size: 10rem;
    color:white;
    border: 6px solid whitesmoke; border-radius: 10px;
    width: 94%; height: 250px;
    max-width: 94%; /* Establece el ancho máximo del contenedor */
    max-height:400px; /* Establece la altura máxima del contenedor */
    overflow: scroll; /* Oculta cualquier parte de la imagen que exceda los límites del contenedor */
    text-align: center;
    margin-top: 25px;
}


/**************************/
#lista-usuarios{ background: #555; z-index: 10000; color: yellow;
                    width: 90%; min-height: 180px; padding: 2px 5px;
                    overflow-y: auto; position: absolute; top:160px;}
.oculto{display: none;}
.mostrar{display: block;}
/**************************/

#botonera{background: cyan;}
#descripcion p{color:white;}
#enviado p{color:white}




/**********************
LINKS DE CADA SERVICIO:
***********************/

.link-servicios{
    background: cyan; color:black; border:1px solid #555; border-radius: 4px; padding: 4px 8px; font-size: 75%; font-weight: 700; text-align: center;
}
.link-activo{
    background: yellow; color:#555; border:2px solid white;
}
