<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!--<script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>-->
		<script src="https://unpkg.com/htmx.org@1.8.4"></script>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
		<!--<link rel="stylesheet" href="../css/asmr_style.css">-->
		<!---->
		
		<link rel="icon" type="image/png" sizes="16x16" href="../static/dniextract/img/icons8-queen-bee-16.png">
		<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
		<!-- Style DESKTOP del index/home/start/iniio de DataExtractor-->
		<link rel="stylesheet" href="{{url_for( 'static', path='index-mobile.css')}}">
		<!--<link rel="stylesheet" href="index-mobile.css">-->

		
		<title>DNIExtractor - Demo</title>
		<!---->

	</head>

	<body>

		<nav id="vertical-menu">
			<ul>
			  <li><a href="/blog" hx-trigger='click' hx-get='/blog' target="_new">Blog</a></li>
			  <li><a href="/servicios">Servicios</a></li>
			  <li><a href="/contacto">Contacto</a></li>
			  <li><a href="/precios">Precios</a></li>
			</ul>
		  </nav>
		  
		  		

	<section id="mobile-pre-head">Demostración GRATIS ... <span> <a href="#new-user">clic aquí !</a> </span></section>

	<section id="head">
		<div id="logo-img">
			<a href='/'><img width="45" height="45" src="{{url_for('static', path='dniextract/img/icons8-queen-bee-50.png')}}"></a>
		</div>
		<div id="logo_txt"><a href='/'><span id="data">Data</span><br><span id="extractor">Extractor</span></a></div>	
		<div id="menu-toggle" onclick="toggleMenu()">
			<i class='bx bx-menu bx-md'></i>
		</div>
	</section>

	<section id="titulo-img">
		<!--<p>Data - EXTRACTOR !</p>-->
		<img src="{{url_for( 'static', path='img/iman-amarillo-1.jpeg')}}" width="40%">
	</section>

	<section id="servicios">
		<div id="dni" class="servicios" ><h3 hx-trigger='click' hx-get='/dni'><a href="/dni">DNIs</a></h3>
			<p>También extrae datos de Brevetes, Pasaportes, Carnés... en segundos.</p>
			<span>CAPTURA Y REGISTRA</span>
		
		</div>
		<div id="fac" class="servicios" ><h3 hx-trigger='click' hx-get='/facturas'><a href="/facturas">FACTURAS</h3></a>
			<p>Extrae datos de Boletas, Facturas, Tickets y actualiza tu Base de Datos o Libros Contables...</p>
			<span>CAPTURA Y PROCESA</span>
		</div>
		<div id="inf" class="servicios" ><h3 hx-trigger='click' hx-get='/info-extractor'><a href="/info-extractor">INFO</a></h3>
			<p>Convierte documentos e informes de cualquier tipo en tu propia Base de Datos.</p>
			<span>CAPTURA Y COMPARTE</span>
		</div>

		<div id="inventario">
			<h2>INVENTARIO FÍSICO PATRIMONIAL</h2>
			<p>Instituciones Públicas <span>de cualquier sector y tamaño</span></p>
			<p>Mediana Empresa<span> Cualquier rubro</span></p>
			<p>Gran Empresa<span> Dentro o fuera del país</span></p>
			<p>Mega	Empresa<span> Dentro o fuera del país</span></p>

			<div id="inventario-2">
				<p>Realiza el Inventario Físico Patrimonial de tu Institución/Empresa con nuestro Software de Inteligencia Artificial con personal propio ... o con nuestro equipo experimentado ! </p>
			</div>

		</div>
	</section>

	<section id="beneficios">
		<h3>GRANDES BENEFICIOS</h3>
		<h4>SECTOR PÚBLICO</h4>
		<ul id="publico">
			<li>Gobierno Inteligente: reduce costos</li>
			<li>Destaca la Institución: mayor presupuesto</li>
			<li>Destacan los funcionarios: mayor respaldo</li>
			<li>La Comunidad se beneficia !</li>
		</ul>

		<h4>SECTOR PRIVADO</h4>
		<p>Data Extractor ofrece una solución innovadora basada en inteligencia artificial diseñada para empresas de todos los tamaños y sectores. Nuestra plataforma permite extraer, procesar y registrar datos de manera rápida y precisa, proporcionando beneficios tangibles para tu empresa.</p>
		<br>
		<details name="leer-mas">
			<summary class="leer-mas">Leer más ...</summary>
				<ul id="privado">
					<li>Reduce de costos: al optimizar procesos de captura y registro de datos</li>
					<li>Minimiza errores: al eliminar tareas manuales</li>
					<li>Aumenta eficiencia: automatiza procesos y usa menos recursos</li>
					<li>Integración sin problemas: con sistemas y bases de datos existentes !</li>
					<li>Soporte personalizado: garantizamos que obtengas el máximo valor de Data Extractor.</li>
				</ul>
		</details>

		<br>
		<p>Con Inteligencia Artificial y muy poca inversión: avanza en el mercado, te posicionas mejor, ganas eficiencia, reduces tiempos, minimizas costos, ofreces mejor servicio, no te equivocas, resuelves muy rápido los problemas de tus clientes, ....<br> Qué estás esperando ?</p>
		<br>
		<h6>No usar la Inteligencia Artificial te puede sacar del mercado, muy pronto.</h6>
		<br>
		<h2>Benfíciate de ...</h2>
		
		<div id="lista-beneficios">
			<div class="div-li">
				<div class="beneficios">
					<p>CERO ERRORES !</p>
				</div>
				<div class="div-p">
					<p>Modelos y procesos de Inteligencia Artificial en constante actualización</p>
					
				</div>
			</div>

			<div class="div-li">
				<div class="beneficios">
					<p>100% EXACTO !</p>
				</div>
				<div class="div-p">
					<p>Reduce a cero, y para siempre, los errores de captura y registro de datos</p>
					
				</div>
			</div>

			<div class="div-li">
				<div class="beneficios">
					<p>MUY VELOZ !</p>
				</div>
				<div class="div-p">
					<p>En solo segundos se capturan, procesan, registran y comparten los datos !</p>

				</div>
			</div>

			<div class="div-li">
				<div class="beneficios">
					<p>FÁCIL DE USAR !</p>
				</div>
				<div class="div-p">
					<p>Ya No se necesita digitar !</p>

				</div>
			</div>

			<div class="div-li">
				<div class="beneficios">
					<p>SUPER BARATO !</p>
				</div>
				<div class="div-p">
					<p>Los costos se reducen al mínimo !</p>

				</div>						
			</div>

			<div id="google">
				<h5>Toda nuestra</h5>
				<h4>Infraestructura es soportada por </h4>
				<img src="{{url_for( 'static', path='img/logo-google.png')}}" width="60%">
			</div>
<!--
			<li class="beneficios">100% exacto !</li>
			<li class="beneficios">Muy veloz !</li>
			<li class="beneficios">Facilísimo de usar</li>
			<li class="beneficios">Super barato !</li>
-->			
		</div>

	</section>

	<section id="quienes-usan">
		
			<li class="usuarios"><span>Quiénes ya usan Data Extractor</span></li>
			<li class="usuarios">Colegio San Andrés</li>
			<li class="usuarios">UNITEX</li>
			<li class="usuarios">SECURE</li>
			<li class="usuarios">SCHMIDT HOUSE</li>
			<li class="usuarios">RENZO Barber</li>
			<li class="usuarios">ICSA</li>
		
	</section>

	<section id="comentarios">
		<div class="comentarios">
			<div>	
				<img class="foto-comentarios" src="{{url_for('static', path='../static/img/images-1.jpeg')}}">
			</div>
			<div>
				<p>Quién comenta</p>
				<p>El primer comentario</p>
			</div>
		</div>	
		<div class="comentarios">
			<div>
				<img class="foto-comentarios" src="{{url_for('static', path='../static/img/images-2.jpeg')}}">
			</div>
			<div>	
				<p>Quién comenta</p>
				<p>El segundo comentario</p>
			</div>	
		</div>
		<div class="comentarios">
			<div>
				<img class="foto-comentarios" src="{{url_for('static', path='../static/img/images-3.jpeg')}}">
			</div>
			<div>
				<p>Quién comenta</p>
				<p>El tercer comentario</p>
			</div>	
		</div>	
	</section>

	<section id="faqs">
		<h3>Preguntas Frecuentes sobre DataExtractor</h3>
		<details name="faqs">
			<summary class="faqs">¿Qué es DataExtractor?</summary>
				<p class="rpta">Data Extractor es una solución de <b>software basada en inteligencia artificial</b> que permite extraer, procesar y registrar información de <u>DNIs</u>, <u>pasaportes</u>, <u>facturas</u>, <u>recibos</u>, y <u>etiquetas de inventario de bienes</u> en <i>instituciones públicas o empresas privadas</i>.</p>
		</details>
		<details name="faqs">
			<summary class="faqs">¿DataExtractor solo extrae datos?</summary>
				<p class="rpta">Data Extractor también los procesa y valida. Luego los registra en tu Base de Datos y, si es necesario los comparte.</p>
		</details>				
		<details name="faqs">
			<summary class="faqs">¿Cómo ayuda Data Extractor a mi empresa?</summary>
				<p class="rpta">Data Extractor reduce costos, minimiza errores y agiliza procesos de captura de datos, permitiéndote centrarte en tu negocio en lugar de en tareas manuales de administración.
				</p>
		</details>
		<details name="faqs">
			<summary class="faqs">¿Data Extractor me puede ayudar a vender más?</summary>
				<p class="rpta">Sí, Data Extractor ayuda a empresas de todo tamaño y rubro a incrementar ventas sin destinar más recursos (trabajo ni tiempo). <a href="#new-user">Regístrate y preguntános aquí</a>.
				</p>
		</details>		
		<details name="faqs">				
			<summary class="faqs">¿Cuánto tiempo lleva extraer datos con Data Extractor?</summary>
				<p class="rpta">Data Extractor puede extraer, procesar y registrar datos en segundos, proporcionando resultados rápidos y precisos.</p>
		</details>
		<details name="faqs">				
			<summary class="faqs">¿Puedo extraer otros tipos de datos?</summary>
				<p class="rpta">Sí, solo hemos mencionado los más comunes. Hay quienes extraern datos de Contratos, Minutas, Declaraciones, Informes, Reportes, Pólizas, etc.<a href="#new-user">Regístrate y consulta aquí.</a></p>
		</details>		
		<details name="faqs">				
			<summary class="faqs">¿Es seguro usar Data Extractor?</summary>
				<p class="rpta">Sí, Data Extractor está diseñado con altos estándares de seguridad y privacidad para proteger los datos y garantizar la confidencialidad de la información.</p>
		</details>
		<details name="faqs">				
			<summary class="faqs">¿Data Extractor se integra con mis sistemas existentes?</summary>
				<p class="rpta">Data Extractor es altamente compatible y se puede integrar fácilmente con tus sistemas y bases de datos existentes, garantizando una transición fluida y eficiente.</p>
		</details>
		<details name="faqs">				
			<summary class="faqs">¿Cuánto cuesta usar Data Extractor?</summary>
				<p class="rpta">Data Extractor ofrece opciones de precios asequibles adaptadas a las necesidades de diferentes tamaños de empresas. Consulta nuestros planes para obtener más detalles.</p>
		</details>
		<details name="faqs">				
			<summary class="faqs">¿Data Extractor se actualiza regularmente?</summary>
				<p class="rpta">Sí, Data Extractor se actualiza continuamente con los últimos avances en inteligencia artificial para ofrecerte el mejor rendimiento y precisión.</p>
		</details>
		<details name="faqs">				
			<summary class="faqs">¿Es difícil usar Data Extractor?</summary>
				<p class="rpta">No, Data Extractor es fácil de usar y no requiere conocimientos técnicos previos. La interfaz intuitiva y las guías paso a paso facilitan su uso.</p>
		</details>
		<details name="faqs">				
			<summary class="faqs">¿Puedo probar Data Extractor antes de comprar?</summary>
				<p class="rpta">Sí, ofrecemos una prueba gratuita de Data Extractor para que puedas experimentar sus beneficios antes de tomar una decisión. <a href="#new-user">!Regístrate aquí¡</a></p>
		</details>
		<details name="faqs">				
			<summary class="faqs">¿Qué soporte ofrecen?</summary>
				<p class="rpta">Brindamos soporte técnico de calidad y asistencia para ayudarte a maximizar los beneficios de Data Extractor.<br><br>
				Nuestro equipo trabaja en coordinación constante con el Equipo de Google, lo que garantiza respuestas eficientes e inmediatas, siempre.</p>
		</details>
	</section>

	<section id="demos">
		<div id="botones-demo">
			<ul>
				<li class="botones"><a href="/videos-demo?origen=dni" hx-get="/videos-demo?origen=dni" hx-target="#el-video" hx-swap="innerHTML">DNI</a></li>
				<li class="botones"><a href="/videos-demo?origen=facturas" >Facturas</a></li>
				<li class="botones"><a href="/videos-demo?origen=amano" >A mano</a></li>
				<a href="" hx-get="/videos-demo?origen=dni" hx-trigger="click">DNI 2</a>
			</ul>
		</div>
		<div id="videos">
			<video class="el-video" poster="{{url_for('static', path='../static/img/poster-dni.jpeg')}}" autoplay="false" controls src="{{url_for('static', path='/img/demo-dni.mp4')}}"></video>
		</div>
	</section>

	
	<div id="cta"><h2>Regístrate GRATIS<br> para una Demostración</h2></div>


	<div id="new-user" >

		<h2>Descubre cómo trabajan los mejores !</h2>
		<p>Los Lideres y Funcionarios que brillan usan Inteligencia Artificial</p>

		<form method="post" action="/newUser" id="formulRegistro">
			<div class="form-container">
				<div class="form-div">
					<span>Crea tu Cuenta <span style="color:cyan; font-style: italic; font-size: 85%;">GRATIS</span></span>
				</div>
				<div class="form-div">
										
					<select name="countryCode" id="countryCode" class="form-field">
						<option value="0">País</option>
						<option value="51" selected>Perú</option>
						<option value="54">Argentina</option>
						<option value="591">Bolivia</option>
						<option value="55">Brasil</option>
						<option value="56">Chile</option>
						<option value="57">Colombia</option>
						<option value="593">Ecuador</option>
						<option value="34">España</option>
						<option value="52">México</option>
						<option value="595">Paraguay</option>
						<option value="598">Uruguay</option>
					</select>
					<input type="text" name="fecha" id="laFecha" class="oculto">
					<input type="text" name="hora"  id="laHora" class="oculto">	
				</div>
		
				<div class="form-div">
					<input type="text" name="ruc" id="ruc" placeholder="N° RUC" size="11" class="form-field" required>
				</div>
				<div class="form-div">
					<input type="text" name="numWa" id="numWa" placeholder="WhatsApp" size="16" class="form-field" required>
				</div>
				<div class="form-div">
					<input type="text" name="nombre" id="nombre" placeholder="Nombre(s)" size="30" class="form-field" required>
				</div>
				<div class="form-div">
					<input type="text" name="email" id="email" placeholder="Correo Electr." size="30" class="form-field" autocomplete="off" required onchange="asignarFechaHora()">
				</div>				
				<div class="form-div">
					<input type="textarea" name="consulta" id="consulta" placeholder="Consulta o comentario aquí..." cols="25" class="form-field">
				</div>
				<div class="form-div" id="div-button">
					<button type="submit" class="form-field"
					>CREAR CUENTA</button>
				</div>
				
			</div>
		</form>
	</div>

	<section id="ver-mas"></section>

	<section id="blog"></section>

	<section id="footer"></section>


	<!--<script src="/static/js/captura_fecha_hora_ip.js"></script>-->
	
	
	<script src="{{url_for('static', path='js/captura_fecha_hora_ip.js')}}" defer></script>

</body>
</html>